body {
	font-family: 'roboto', 'helvetica', sans-serif
}

#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #ECF0F1;

	text-align: left;
}

#intro {
	width: 600px;
	text-align:left;
}

#contentheader {
	margin top: 50px;
	text-align: center;
}

h1 {
	font-weight: 400;
	font-size: 72;
 
}

h2 {
	font-weight: 300;
	font-size: 18
}

h3 {
	font-weight: 300;
	font-size: 36;
}

#pic {
	float: right;
	margin-top: 15px;
	border: 10px solid #FFF;
	width: 300px;
	height: 300px;
}

