body {
	font-family: 'roboto', 'helvetica', sans-serif
}

#container {
	margin: 20px auto 0px auto;

	padding: 10px 100px 10px 100px;

	border-radius: 15px;
	background-color: #ECF0F1;
	
	max-width: 750px;

}

#intro {
	width: 400px;
	text-align:left;
}

#contentheader {
	margin-top: 80px;
	text-align: center;
}

#content {
	text-align: left;
	font-size: 14px;
}

h1 {
	font-size: 48px;
	font-weight: 200;
 
}

h2 {
	font-size: 16px;
	font-weight: 200;
}

h3 {
	font-size: 24px;
}

p4 {
	font-weight: bold;
}

p5 {
	float: right;
}

p6 {
	font-weight: bold;
	font-style: italic;
}

p7 {
	border-bottom: 1px solid #999;	
}

#pic {
	float: right;
	margin-top: 15px;
	border: 10px solid #FFF;
	width: 200px;
	height: 200px;
}

